<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web Scraping</title>

</head>
<body>
<h1>Web Scraping</h1>
<div>
	<h2>Lorem ipsum dolor.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cum dolore harum perferendis, qui quod.
		Accusantium dolorum impedit minus molestias odio officia provident qui quibusdam?</p>
</div>
<div>
	<h2>Lorem ipsum dolor.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cum dolore harum perferendis, qui quod.
		Accusantium dolorum impedit minus molestias odio officia provident qui quibusdam?</p>
</div>
<!--<script src=""></script> the src code does not work. TODO: fix.-->
</body>
</html>